@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Department Statistics";
}

<h2>Department Statistics</h2>

<table class="table">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Number of Employees</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DepartmentName</td>
                <td>@item.EmployeeCount</td>
            </tr>
        }
    </tbody>
</table>
